useDynLib(longbet, .registration=TRUE)

export(longbet)
export(predict.longbet)
S3method(predict, longbet)
export(get_att)
export(att_stability)
export(longbet_multi)
export(predict.longbet_multi)
S3method(predict, longbet_multi)
export(joint_prob)
export(effect_draws)
export(outcome_correlation)
export(get_catt)
export(getTaus)
export(getMus)
export(dump.longbet)
export(load.longbet)

importFrom(Rcpp, evalCpp)
importFrom(stats, acf, ar, cor, lm, median, predict, pnorm, qnorm, qchisq, quantile, residuals, runif, sd, var)
